<div class="sidebar">
    <div class="sidebar-header">
        <div class="brand">
            <div class="brand-mark"><i class="fa-solid fa-dumbbell"></i></div>
            <h2>Fit Core</h2>
        </div>
        <span class="role-badge">Enterprise Admin</span>
    </div>

    <nav class="sidebar-nav">
        <ul>
            <li><a href="#"><i class="fa-solid fa-table-cells-large fa-fw icon"></i> Dashboard</a></li>
            <li><a href="/html/user/classes/classes-schedule.html"><i class="fa-solid fa-dumbbell fa-fw icon"></i> Classes</a></li>
            <li><a href="/html/user/bookings/my-bookings.html"><i class="fa-regular fa-calendar fa-fw icon"></i> Bookings</a></li>
            <li><a href="#"><i class="fa-solid fa-barcode fa-fw icon"></i> Products</a></li>
            <li data-page="memberships"><a href="/html/user/Memberships/memberships.html"><i class="fa-solid fa-address-card fa-fw icon"></i> MemberShips</a></li>
            <li><a href="#"><i class="fa-regular fa-file-lines fa-fw icon"></i> invoices</a></li>
            <!--<li data-page="settings"><a href="/html/Settings/settings.html"><i class="fa-solid fa-gear fa-fw icon"></i> Settings</a></li>-->
            <li><a href="/html/user/gymServices/gym-services.html"><i class="fa-regular fa-calendar-days fa-fw icon"></i> Plans</a></li>
        </ul>
    </nav>

    <div class="sidebar-footer">
        <div class="footer-links">
            <a href="/html/Support/support.html"><i class="fa-solid fa-circle-question fa-fw icon"></i> Support</a>
            <a href="#"><i class="fa-solid fa-right-from-bracket fa-fw icon"></i> Sign Out</a>
        </div>
    </div>
</div>