

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #0047FF;
    text-underline-offset: 4px;
    text-decoration: underline #0047FF 2px;
}
.home{
    margin-top: 370px;
}

.font-xl{
    font-size:4rem;
}
.font-sm {
    font-size: 0.8rem;
}
.font-md {
    font-size: 1.3rem;
}
.position {
    bottom: 40px; 
    left: -30px;
}
.bg-blue {
    background: #0050c4;
}
.text-blue {
    color: #0050c4;
}
.text-white-light {
    color: #e2e2e2;
}
.badge-position {
    top: 9px;
    right: 10px;
}
.bgMain {
    background-color: #F8FAFC;
}
.link-hover {
    color: #7B7C7D;
}
    .link-hover:hover {
        color: #0047FF;
    }
