<div class="sidebar">
    <div class="sidebar-header">
        <div class="brand">
            <div class="brand-mark"><i class="fa-solid fa-dumbbell"></i></div>
            <h2>Fit Core</h2>
        </div>
        <span class="role-badge">Enterprise Admin</span>
    </div>

    <nav class="sidebar-nav">
        <ul>
            <li data-page="dashboard"><a href="/html/admin/dashboard/dashboard.html"><i class="fa-solid fa-table-cells-large fa-fw icon"></i> Dashboard</a></lidata-page="dashboard>
            <li data-page="gymService"><a href="/html/admin/gym-service/gym-service-management.html"><i class="fa-solid fa-dumbbell icon"></i> Gym Services</a></li>
            <!--<li><a href="/html/Shop/Shop.html"><i class="fa-solid fa-barcode fa-fw icon"></i> Products</a></li>-->
            <li data-page="classes"><a href="/html/admin/classes/classes-management.html"><i class="fa-solid fa-calendar-days fa-fw icon"></i> Schedules</a></li>
            <li data-page="Private Sessions"><a href="/html/private-sessions/private-sessions.html"><i class="fa-solid fa-key icon"></i> Private Sessions</a></li>
            <li><a href="/html/admin/members/manage-users.html"><i class="fa-solid fa-credit-card fa-fw icon"></i> Members</a></li>
            <li><a href="/html/admin/rolesPermissions/roles-permissions.html"><i class="fa-solid fa-credit-card fa-fw icon"></i> Roles Permissions</a></li>
            <li data-page="Staff"><a href="/html/admin/trainers-management/trainers-management.html"><i class="fa-solid fa-user-tie fa-fw icon"></i> Staff</a></li>
            <li><a href="/html/Settings/settings.html"><i class="fa-solid fa-gear fa-fw icon"></i> Settings</a></li>
        </ul>
    </nav>

    <div class="sidebar-footer">
        <div class="footer-links">
            <a href="/html/Support/support.html"><i class="fa-solid fa-circle-question fa-fw icon"></i> Support</a>
            <a href="#"><i class="fa-solid fa-right-from-bracket fa-fw icon"></i> Sign Out</a>
        </div>
    </div>
</div>