<header class="top-header">
    <div class="header-search">
        <i class='bx bx-search search-icon'></i>
        <input type="text" placeholder="Search logs, modules, or staff..." class="global-search-input">
    </div>

    <div class="header-actions">
        <button class="icon-btn"><i class='bx bx-bell'></i></button>
        <button class="icon-btn"><i class='bx bx-time-five'></i></button>

        <div class="user-profile">
            <div class="avatar">RM</div>
        </div>
    </div>
</header>